*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.clock-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  transition: 0.3s;
}
.clock-container.active {
  background-color: rgb(14, 11, 20);
  transition: 0.3s;
}

.clock {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 -15px 15px rgb(255, 255, 255, 0.05),
    inset 0 -15px 15px rgb(255, 255, 255, 0.05),
    0 15px 15px rgb(255, 255, 255, 0.05),
    inset 0 -15px 18px rgb(255, 255, 255, 0.05);
}

.clock.active {
  border: solid 4px rgb(14, 11, 20);
  transition: 1s;
}

.clock::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  z-index: 11;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: black;
}
.clock.active::after {
  background-color: rgb(44, 36, 61);
}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 2em;
  padding-top: 1.7rem;
}
.clock.active .number {
  color: rgb(116, 116, 116);
}

.clock .number1 {
  --rotation: 30deg;
}
.clock .number2 {
  --rotation: 60deg;
}
.clock .number3 {
  --rotation: 90deg;
}
.clock .number4 {
  --rotation: 120deg;
}
.clock .number5 {
  --rotation: 150deg;
}
.clock .number6 {
  --rotation: 180deg;
}
.clock .number7 {
  --rotation: 210deg;
}
.clock .number8 {
  --rotation: 240deg;
}
.clock .number9 {
  --rotation: 270deg;
}
.clock .number10 {
  --rotation: 300deg;
}
.clock .number11 {
  --rotation: 330deg;
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  transform-origin: bottom;
  border-top-left-radius: 0.44em;
  border-top-right-radius: 0.44em;

  z-index: 10;
}

.clock .hand.second {
  width: 0.25em;
  height: 45%;
  background-color: rgb(255, 0, 0);
}
.clock.active .hand.second {
  background-color: rgb(88, 46, 46);
}

.clock .hand.hour {
  --rotation: 10;
  width: 0.55em;
  height: 30%;
  background-color: rgb(0, 0, 0);
}
.clock.active .hand.hour {
  background-color: rgb(116, 116, 116);
}

.clock .hand.minute {
  --rotation: 50;
  width: 0.45em;
  height: 40%;

  background-color: rgb(0, 0, 0);
}
.clock.active .hand.minute {
  background-color: rgb(116, 116, 116);
}

.menu {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 5%;
}

.menu .toggle-container {
}

.menu .toggle-container .toggle {
  position: relative;
  background-color: black;
  width: 3.66em;
  height: 2em;
  border-radius: 50px;
  top: 50%;
  cursor: pointer;
  transition: 0.53s;
}

.menu .toggle-container .toggle .toggle-btn {
  position: absolute;
  width: 1.55em;
  height: 1.55em;
  background-color: white;
  border-radius: 50%;
  top: 3.5px;
  left: 3.5px;
  transition: 0.53s;
}

.menu .toggle-container .toggle.active {
  background-color: rgb(177, 177, 177);
}

.menu .toggle-container .toggle.active .toggle-btn {
  background-color: rgb(14, 11, 20);
  left: 32px;
}
